.header {
  background-color: rgb(234, 229, 212);
  font-size: 0.75rem;

  @media (--viewport-l) {
    display: flex;
    height: 60px;
    align-items: center;
  }
}

.header__logo {
  float: left;
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 45px;

  @media (--viewport-l) {
    float: none;
    height: 60px;
  }
}

.header__name {
  padding-top: var(--space-xs);
  font-weight: var(--font-weight-bold);

  @media (--viewport-m) {
    float: left;
    padding-top: var(--space-m);
  }

  @media (--viewport-l) {
    padding: 0;
  }
}

.header__fund-info {
  padding: var(--space-m);
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  clear: both;

  @media (--viewport-s) {
    flex: 1 0 auto;
    flex-direction: row;
  }

  @media (--viewport-l) {
    margin-left: var(--space-xxl);
    padding: 0;
  }
}

.header__price {
  overflow: hidden;
  width: 100%;
}

.header__price-value,
.header__price-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__price-desc {
  display: block;
  font-size: var(--font-size-xs);
  color: var(--color-grey);
}

.header__price-value {
  display: block;
  font-size: var(--font-size-s);
}

.header__price-value-important {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
}

.header__account {
  @media (--viewport-m) {
    text-align: right;
    padding-right: var(--space-m);
    padding-top: var(--space-m);
  }

  @media (--viewport-l) {
    order: 3;
    text-align: right;
    padding-right: var(--space-m);
    padding-top: 0;
  }
}

.header__account-info,
.header__account-address,
.header__account-balance:not(:last-child) {
  &:after {
    content: '|';
    margin-right: var(--space-xxs);
    padding-left: var(--space-xxs);
    color: var(--color-grey);
  }
}

.header__account-address {
  color: var(--color-grey);
}

.header__account-info {
  display: block;
  color: var(--color-loss);

  &:after {
    content: '';
    margin-right: 0;
    padding-left: 0;
  }
}
